{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Приветствие</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
	<link rel="stylesheet" href="{% static 'main/css/main.css' %}">

</head>

<body>
	<aside>
		<img src="{% static 'main/img/logo.png' %}" alt="logo">
		<h3 class="m-2 text-center">Добро пожаловать на мой сайт!</h3>
	</aside>
	<main>
		<p>Есть страницы, которые вы можете посетить, дописав после "/" нужное окончание: <br>
			<ul>
				<li>admin/</li>
				<li>api/v1/main/</li>
				<li>api/v1/main/about/</li>
				<li>api/v1/main/mains/create</li>
				<li>api/v1/main/detail/(номер id)/</li>
			</ul>
		</p>
	</main>

</body>

</html>